.artistTitle {
    font-family: Verdana, sans-serif;
    font-weight: 900;
    margin-bottom: 85px;
    color: white; 
    font-size: 70pt;
    letter-spacing: -8px;
}

body {
    margin: 0px;
}

.button {
    height: auto;
    width: auto;
    font-family: Verdana, sans-serif;
    background-color: #212121;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: auto;
    padding: 15px 20px;
    border-radius: 5px;
}

.button:hover {
    background: #373737;
}

.cardBody  {    
    width: 220px; 
    height: 295px;
    cursor: default;
    background: #212121;
    border-radius: 5px;    
}

.cardImage {
    height: 190px;
    width: 190px;
    margin: 15px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 2px #121212;
}

.cardArtist {
    border-radius: 50%;
    height: 190px;
    width: 190px;
    margin: 15px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 2px #121212;
}

.cardTitle {
    display: inline-block;
    font-size: 12pt;
    font-family: Verdana, sans-serif;
    color: white; 
    margin-left: 15px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    width: 190px;
}

.cardSub {
    font-size: 10pt;
    font-family: Verdana, sans-serif; 
    color: grey;
    margin-left: 15px; 
    max-width: 190px;
}

.cardSubLink {
    font-size: 10pt;
    font-family: Verdana, sans-serif; 
    color: grey;
    margin-left: 15px; 
    max-width: 190px;
}

.cardSubLink:hover {
    text-decoration: underline;
}

.cardBody:hover {
    background: #373737;
}

.loginPage {
    display: flex;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.navBar {
    display: flex;
    height: 50px;
    width: 100vw;
    background: #212121;
    cursor: default;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li {
    float: left;
}

li span {
    display: block;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 16px 16px;
}

li span:hover {
    background-color: #373737;
}

.panelTitle {
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    color: white;
    margin-top: 45px;
    margin-bottom: 25px;
    cursor: default;
}

.panelTitle:hover {
    text-decoration: underline;
}

.searchBar {
    border-radius: 20px;
    height: 45px;
    width: 350px;
    font-family: Verdana, sans-serif;
    padding: 20px;
}

.searchBar:focus {
    outline: none;
}

.trackTable {
    width: 1180px;
    font-family: Verdana, sans-serif;
    cursor: default;
    background: #121212;
    font-size: 10pt;
}

.tableTrackName {
    color: white;
    max-width: 500px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.tableLink:hover {
    color: white;
    text-decoration: underline;
}

.tableImage {
    height: 40px; 
    width: 40px;
    margin-top: 5px;
    margin-bottom: 5px; 
    object-fit: cover;
}

.trackTableRow {
    color: grey;
}

.rowFirst {
    width: 50px;
    font-size: 12pt;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rowLast {
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.trackTableRow:hover {
    color: white;
    background: #212121;
}


.headerPanel {
    display: flex;
    padding-bottom: 25px;
    cursor: default;
}

.headerImage {
    height: 232px;
    width: 232px;
    padding-right: 25px;
    object-fit: cover;
}

.headerType {
    font-family: Verdana, sans-serif;
    color: white; 
    font-size: 12pt;
}

.headerTitle {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white; 
    font-size: 40pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerCreator {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white; 
    font-size: 10pt;
}

.headerCreator:hover {
    text-decoration: underline;
}

.headerSub {
    font-family: Verdana, sans-serif;
    color: grey; 
    font-size: 10pt;
}

.headerInfo {
    float: right;
    text-align: left;
}